@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

@media screen and (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: rgba(49, 130, 122, 0.3);
  border-radius: 0.8em;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(49, 130, 122, 0.76);
}

*::-webkit-scrollbar-track {
  position: absolute;
  top: 0;
}

* {
  text-overflow: ellipsis;
  box-sizing: border-box;
}

@layer utilities {
  .text-shadow-black {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
}

body {
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.btn-class {
  @apply border text-shadow-black text-white p-2 text-[14px] bg-primary sm:w-[280px] 
         mt-2 rounded-md outline-none shadow-md transition duration-300  hover:bg-purple-600 
}

a.active {
  @apply  border-primary;
}

@keyframes spin-50 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hide-scroll-bar {
    -ms-overflow-style: none;
  }
  
  /* Hide the scrollbar for WebKit browsers (like Chrome and Safari) */
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  
  .card-mover:hover {
    transform: scale(1.2); /* Increase the size by 20% on hover */
  }

  